@charset "UTF-8";

* {
    box-sizing:border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

ul, ol, li {
    list-style-type:none; 
    padding:0; 
    margin:0; 
}

body {
    background-image: url("img/598px-Juke_Box_Museum.jpg");
    font-family:Montserrat, Verdana, sans-serif; 
}

.header {
    padding:1rem; 
    text-align:center; 
    background-color:crimson; 
    color:aquamarine; 
}

.main {
    text-align:center; 
    padding-top:1rem; 
    padding-bottom:1rem; 
}
#cover_current {
    width:17rem;
    height:auto; 
}

.user, .current-song-info, #current-song-votes {
    float:right; 
    width:33.333%; 
}
.footer {
    background-color:#55c0d6; 
    position:fixed; 
    height:25vh; 
    width:100%; 
    bottom:0;
    padding:1rem;
}
#playlist {
    position:fixed; 
    left:0; 
    height:50vh; 
    overflow:auto; 
}
#playlist li {
    clear:both; 
    border-bottom:1px solid black; 
    padding-top:10px; 
    padding-bottom:10px; 
}

.playlist-cover {
    width:60px; 
    height:auto; 
    float:left; 
    margin-right:4px; 
}
.playlist-votes {
    float:right; 
    font-size:26px; 
    margin-left:4px; 
    background-color:aquamarine; 
    border-radius:3px;
}